tokenizers==0.15.0
sentencepiece==0.1.99
sacremoses==0.1.1
faster-whisper==0.10.0
transformers==4.36.2
torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118
--extra-index-url https://download.pytorch.org/whl/cu118